/****************************************** 

COMPILED CSS STYLES

-------------------------------------------
Table of Contents...
1.  COLOR SCHEME
2.  LAYOUT
3.  COMPONENTS
4.  UTILITIES


ORDER OF PROPERTIES ======================= 
1.  CONTENT
2.  POSITION AND LAYOUT
3.  DISPLAY AND VISIBILITY
4.  CLIPPING  
5.  ANIMATION
6.  BOX MODEL
7.  TYPOGRAPHY
8.  PSEUDO-CLASS & PSEUDO-ELEMENTS

*******************************************/

/* PRIMITIVES*/

:root {
  /* COLOR PRIMITIVES */
  --black: #000;
  --white: #fff;

  --orange-0: var(--black);
  --orange-10: rgb(87, 0, 0) /* #570000; */;
  --orange-20: rgb(120, 22, 0), #781600;
  --orange-30: rgb(157, 56, 0), #9d3800;
  --orange-40: rgb(196, 88, 14), #c4580e;
  --orange-50: rgb(236, 122, 49), #ec7932;
  --orange-60: rgb(246, 148, 91), #f6945b;
  --orange-70: rgb(253, 175, 131), #fdaf83;
  --orange-80: rgb(255, 201, 171), #ffc9ab;
  --orange-90: rgb(255, 228, 213), #ffe4d5;
  --orange-100: var(--white);

  --blue-0: var(--black);
  --blue-10: rgb(0, 39, 91), #00275b;
  --blue-20: rgb(0, 65, 121), #004179;
  --blue-30: rgb(0, 93, 152), #005d98;
  --blue-40: rgb(0, 122, 185), #007ab9;
  --blue-50: 1, 156, 220;
  --blue-60: rgb(97, 172, 226), #61ace2;
  --blue-70: rgb(143, 192, 233), #8fc0e9;
  --blue-80: rgb(182, 213, 241), #b6d5f1;
  --blue-90: rgb(219, 234, 248); /* #dbeaf8; */
  --blue-100: var(--white);

  --red-0: var(--black);
  --red-10: rgb(89, 0, 0), #590000;
  --red-20: rgb(110, 0, 3), #6e0003;
  --red-30: rgb(133, 0, 23), #850017;
  --red-40: rgb(156, 0, 38), #9c0026;
  --red-50: rgb(179, 0, 53), #b30035;
  --red-60: rgb(201, 77, 89), #c94d59;
  --red-70: rgb(220, 124, 128), #dc7c80;
  --red-80: rgb(235, 167, 168), #eba7a8;
  --red-90: rgb(247, 211, 211), #f7d3d3;
  --red-100: var(--white);

  --green-0: var(--black);
  --green-10: rgb(0, 161, 93), #00a15d;
  --green-20: rgb(0, 161, 93), #00a15d;
  --green-30: rgb(0, 161, 93), #00a15d;
  --green-40: rgb(0, 161, 93), #00a15d;
  --green-50: rgb(0, 161, 93), #00a15d;
  --green-60: rgb(0, 131, 67), #008343;
  --green-70: rgb(0, 100, 39), #006427;
  --green-80: rgb(0, 71, 13), #00470d;
  --green-90: rgb(0, 45, 0), #002d00;
  --green-100: var(--white);

  --pink-0: rgb(215, 42, 126), #000000;
  --pink-10: rgb(215, 42, 126), #000000;
  --pink-20: rgb(215, 42, 126), #000000;
  --pink-30: rgb(215, 42, 126), #000000;
  --pink-40: rgb(215, 42, 126), #000000;
  --pink-50: rgb(215, 42, 126), #000000;
  --pink-60: rgb(215, 42, 126), #000000;
  --pink-70: rgb(215, 42, 126), #000000;
  --pink-80: rgb(215, 42, 126), #000000;
  --pink-90: rgb(215, 42, 126), #000000;
  --pink-100: rgb(215, 42, 126), #000000;
}

body,
html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  background-color: #f0f0f0;
}

[id] {
  scroll-margin-top: 8rem;
}

a:link {
  text-decoration: none;
  color: #000000;
}
a:visited {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
a:active {
  text-decoration: none;
  color: #c4580e;
}

/* Icon sizes */
span.size-16 {
  font-size: 16px;
  font-variation-settings: "OPSZ" 16;
}
span.size-20 {
  font-size: 20px;
  font-variation-settings: "OPSZ" 20;
}
span.size-24 {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
}
span.size-32 {
  font-size: 32px;
  font-variation-settings: "OPSZ" 32;
}
span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}

.inline-icon {
  vertical-align: bottom;
}

.p-2{
  padding: 8px;
}

[class*="grid-"] {
  /* any class that starts with "grid-" has these characteristics */
  display: grid;
  gap: 1rem;
}

.grid-site-main {
  grid-template-columns: 300px 3fr 1fr;
  grid-template-rows: 64px 1fr auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 0.5rem 0 0.5rem;
  height: 100%;
  overflow: auto;
}

.grid-even-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
}

@media (min-width: 50em) {
  .grid-auto-flow {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* LAYOUT */

/* Nav Stylings */
.navbar {
  grid-area: 1 / 1 / 1 / 4;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #f0f0f0;
}
.navbar-container {
  display: grid;
  grid-template-columns: 300px 3fr 1fr;
  height: 100%;
}

.navbar-container > div {
  place-items: center stretch;
  padding: 1rem;
}

.nav-logo-container {
  align-items: center;
  margin: auto;
}

.nav-logo-image {
  height: 32px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link-item {
  display: inline;
}

.nav-link-item > a {
  color: --orange-40, #c4580e;
}

.nav-link-item > a:visited {
  text-decoration: none;
}

/* Main */
.main-home {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.main-article {
  grid-area: 2 / 2 / 3 / 4;
  padding: 1rem;
  background-color: var(--white);
}

/* Article */
.article {
  margin: auto;
  max-width: 50rem;
  padding: 1rem;
}

/* Aside */
.aside {
  grid-area: 2 / 1 / 3 / 2;
  position: fixed;
  top: 64px;
  padding-right: 0.5rem;
  min-height: 70rem;
  background-color: #f0f0f0;

}

.toc-container {
  list-style: none;
  padding: 0;
  max-width: calc(300px - 0.5rem);

  border-left: 2px solid #781600;
}
.toc-container ol {
  list-style: none;
  padding: 0;
}
.toc-container-heading {
  padding-left: 0.5rem;
  font-weight: 300;
  font-size: x-large;
}

.toc-link-item {
  list-style-type: none;
  padding: 0.5rem 0.5rem 0.5rem 16px;
}

.toc-link-item a {
  display: block;
  padding: 4px;
  color: rgb(80, 80, 80) ;
}

.toc-link-item a:hover {
  background-color: var(--blue-90, #dbeaf8);
  color:var(--black);
}

/* Footer */
.footer {
  grid-area: 3 / 1 / 3/ 4;
  height: 5rem;
  text-align: center;
  padding: 2rem;
  background-color: #d1d1d1;
}

/* components */
.grid-hero-image {
  grid-area: 1 / 1 / 2 / 2;
}

.grid-hero-image img {
  display: grid;
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.grid-hero-text {
  grid-area: 1 / 1 / 2 / 2;
  align-items: start;
  padding: 3rem;
  color: var(--white);
  font-size: x-large;
  height: 20rem;
}

.content-below-hero {
  grid-area: 2 / 1 / 3 / 2;
}

#home-leading {
  width: max(50rem);
  margin-right: auto;
  padding: 1rem 1rem 1rem 3rem;
  margin-bottom: 4rem;
  line-height: 180%;
  font-size: 24px;
}

/* Home Cards */
.grid-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #e8e8e8;
}

.card-step {
  font-size: xxx-large;
  font-weight: 400;
  opacity: 50%;
}

.card-title {
  font-size: large;
  font-weight: 800;
}

.card:hover {
  background-color: #ffe4d5;
  transition: 300ms;
}

/* Paragraph Styling */
.article p,h1,h2,h3,h4,h5,h6{
  max-width: 50rem;
}

.paragraph-link {
  font-weight: 700;
}

.paragraph-link > a {
  color: rgba(var(--blue-50), 1);
}

.paragraph-step-number {
  font-weight: 800;
  margin-right: 12px;
}

.paragraph-image {
  display: block;
  margin: 1rem auto 1rem auto;
  object-fit: contain;
  max-height: 25rem;
  width: calc(100% - 64px);
}

/* utility */

/* POSITION AND LAYOUT */

/* DISPLAY AND VISIBILITY */

/* CLIPPING */

/* ANIMATION */

/* BOX MODEL (FROM OUTSIDE IN) */

/* BACKGROUND */

/* TYPOGRAPHY */

/* NESTED RULES */
